// article
.article-wr {
    width: $w-per-100;
}

.article {
    box-sizing: border-box;
    width: $w-1000;
    margin: $m-10-auto;
}

//article-nav
.article-nav-wr {
    @include float;
}

.article-nav {
    position: relative;
    @include divBulk(200px);
    @include border(2px solid #35b558, 1px solid #eee, none, 1px solid #eee);
    li {
        position: relative;
        @include divBulk(180px, 37px);
        padding: 0 10px;
        border-bottom: 1px solid #eee;
        @include line-height(38px);
        cursor: pointer;
        &:hover>a {
            color: #35b558;
        }
        &:hover .a-nav-arrow {
            @include hidden;
        }
        &:hover .nav-aside-line {
            display: block;
        }
        .a-nav-arrow {
            @include float(right);
        }
    }
}

.nav-aside-line,
.child-nav-aside {
    position: absolute;
}

.nav-aside-line {
    @include position(0, 0);
    @include divBulk(2px, 38px);
    @include hidden();
    background: #35b558;
    transition: background-color 2s side-nav 2s;
}

.child-nav-aside {
    @include divBulk(200px, 300px);
    @include position(-2px, auto, auto, 200px);
    @include minHeight(370px);
    @include hidden;
    padding: 5px;
    background: $white;
    border: $border-e;
    cursor: pointer;
    z-index: 50;
    .child-nav-title {
        @include line-height(33px);
        border-bottom: 1px solid #eee;
    }
}

.child-navside-wr {
    margin-bottom: 20px;
    .child-nav-title:hover,
    a:hover {
        color: #35b558;
    }
}

.child-nav-type {
    margin-top: 10px;
    span {
        color: #eee;
    }
}

//lesson-center-focus
.lesson-center-focus {
    @include divBulk(560px, 373px);
    @include float;
    margin: 0 10px;
}

.index-baner {
    position: relative;
    @include divBulk(560px, 260px);
    overflow: hidden;
    span {
        position: absolute;
        @include position(100px);
        @include divBulk(40px, 60px);
        background: rgba(34, 34, 34, 0.5);
        @include center;
        @include line-height(60px);
        cursor: pointer;
        opacity: 0;
        z-index: 150;
        transition: opacity 0.5s ease-in 0.1s;
        i {
            color: $white;
            font-size: 30px;
        }
    }
    &:hover span {
        opacity: 1;
    }
    .pre-img {
        left: 0;
    }
    .next-img {
        right: 0;
    }
}

.index-baner {
    .img-wr {
        position: relative;
        width:3360px;
        li {
            @include float;
        }
    }
}

.bottom-line {
    position: absolute;
    @include divBulk(276px, 145px);
    bottom: -120px;
    left: 145px;
    li.on-line {
        background: #35b558;
    }
    li {
        @include float;
        @include divBulk(30px, 2px);
        margin: 8px;
        background: $white;
        cursor: pointer;
    }
}

.focus-work-wr {
    position: relative;
    @include divBulk(560px, 102px);
    border: $border-e;
    border-right: none;
    margin-top: 20px;
    overflow: hidden;
    span {
        position: absolute;
        @include divBulk(20px, 40px);
        top: 30px;
        background: #999;
        color: $white;
        @include center;
        @include line-height(40px);
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.5s ease-in 0.1s;
    }
}

.focus-work-wr {
    span.work-pre {
        left: 0;
    }
    span.work-next {
        right: 0;
    }
    span:hover {
        background: #222;
    }
    &:hover span {
        opacity: 1;
    }
}

.focus-work {
    position: relative;
    @include divBulk(930px, 102px);
    overflow: hidden;
    li {
        @include float;
        @include divBulk(185.5px, 100px);
        border-right: 1px solid #eee;
        font-size: 12px;
        @include center;
        img {
            display: block;
            @include divBulk(40px, 40px);
            margin: 8px auto;
        }
        p {
            margin-top: 5px;
        }
    }
}

//lesson-right-show
.lesson-right-show {
    @include float;
    @include divBulk(216px, 380px);
    border: $border-e;
    .news .list .item a {
        display: block;
        color: #666;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.8;
    }
    .userinfo {
        border-bottom: 1px solid #eee;
        height: 89px;
        .head-box {
            @include float;
            @include divBulk(64px);
            margin-top: 10px;
            img {
                display: block;
                margin: $m-0-auto;
                @include divBulk(40px, 40px);
            }
        }
        .name-wrap {
            @include float;
            .hello-word {
                margin-top: 10px;
                .word {
                    font-size: 12px;
                    color: #666;
                    a {
                        color: #3287C8;
                        @include inline-block;
                        @include divBulk(58px);
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        vertical-align: text-top;
                    }
                }
                .vip {
                    @include divBulk(40px, 15px);
                    @include inline-block;
                    margin-left: 6px;
                }
            }
            .option {
                font-size: 10px;
                &:hover {
                    color: #333;
                    font-size: 12px;
                }
            }
            .operate {
                margin-top: 7px;
                .vip {
                    display: block;
                    @include divBulk(60px, 20px);
                    background-color: #fddeca;
                    @include line-height(22px);
                    color: #ff5c00;
                    font-size: 12px;
                    @include center;
                }
            }
        }
    }
}

.hello-word .word a:hover,
.name-wrap .option a:hover {
    color: #35b558;
}

.news {
    padding: 0 13px;
    height: 125px;
    border-bottom: 1px solid #E4E4E4;
    h3 {
        margin-top: 10px;
        color: $black;
        font-size: 14px;
        font-weight: normal;
    }
}

.recommend {
    position: relative;
}

.recommend {
    .start-list {
        z-index: 40;
        li {
            @include divBulk(53px, 76px);
            @include float;
            display: block;
            color: #000;
            font-size: 12px;
            @include line-height(23px);
            @include center;
            @include border(none, 1px solid #F5F5F5, 1px solid #F5F5F5, none);
            cursor: pointer;
            .angle-bottom {
                display: block;
                width: 0;
                height: 0;
                border-top: 6px solid #E4E4E4;
                box-sizing: content-box;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid transparent;
                margin: 0 auto;
            }
            .icon {
                background-image: url('../images/recommend.png');
                display: block;
                @include divBulk(25px,
                25px);
                margin: 13px auto 0;
                background-size: 71px 232px;
                @each $class in $iconList {
                    .#{$class} {
                        background-position: nth($iconListPos, index($iconList, $class));
                    }
                }
            }
        }
    }
}

//move-list
.lesson-right-show .recommend .move-list .type-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80;
    background: #fff;
    display: none;
}

.lesson-right-show .recommend .move-list .type-list li {
    float: left;
    width: 53px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    background: #FCFCFC;
    border-bottom: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    cursor: pointer;
}

.lesson-right-show .recommend .move-list .type-list li:hover,
.recommend .move-list .content .question li a:hover {
    color: #35b558;
}

.lesson-right-show .recommend .move-list .type-list li.active {
    border-bottom: 0;
    background: #FFF;
    color: #35b558;
}

.recommend .move-list .type-list .oncolor {
    color: #35b558;
}

.recommend .move-list .content .question {
    padding: 0 10px;
    width: 200px;
    overflow: hidden;
}

.content .question,
#recommendWiki,
#recommendLesson,
#recommendGroup {
    position: absolute;
    top: 25px;
    left: 0;
    background: #fff;
    width: 216px;
    height: 129px;
    z-index: 80;
    display: none;
}

.recommend .move-list .content .question li a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    line-height: 20px;
}

.recommend .move-list .content .question li a img {
    width: 16px;
}

.recommend .move-list .content .question li a .title {
    margin-left: 4px;
    font-size: 12px;
}

.recommend .move-list .content .wiki {
    margin: 15px 10px;
}

.recommend .move-list .content .wiki li {
    float: left;
    width: 55px;
    font-size: 12px;
    margin-right: 7px;
}

.recommend .move-list .content .wiki li img {
    width: 55px;
    height: 73px;
    display: block;
}

.recommend .move-list .content .wiki li .title {
    display: block;
    margin-top: 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recommend .move-list .content .lession li {
    float: left;
}

.recommend .move-list .content .lession li a {
    width: 107px;
    height: 64px;
    border-bottom: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    display: block;
    color: #666;
    overflow: hidden;
}

.recommend .move-list .content .lession li img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 7px auto;
}

.recommend .move-list .content .lession li .title {
    display: block;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recommend .move-list .content .group {
    margin: 8px 0;
    font-size: 12px;
}

.recommend .move-list .content .group li {
    height: 40px;
    border-bottom: 1px solid #F5F5F5;
    overflow: hidden;
    padding: 10px;
}

.recommend .move-list .content .group li:last-child {
    border-bottom: 0;
}

.recommend .move-list .content .group li .picture {
    float: left;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.recommend .move-list .content .group li .info {
    float: left;
    width: 95px;
}

.recommend .move-list .content .group li .info .title {
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recommend .move-list .content .group li .join {
    float: left;
    width: 50px;
    height: 20px;
    line-height: 20px;
    border-radius: 3px;
    color: #FFF;
    background: #ff5c00;
    text-align: center;
    margin-top: 5px;
}

//live-lesson
.live-img {
    @include float;
    @include divBulk(206px,
    198px);
    margin-top: 10px;
    border: $border-e;
    img {
        @include divBulk(208px,
        198px);
        border: none;
    }
}

.livebox {
    @include float;
    margin-top: 10px;
    @include divBulk(790px,
    198px);
    border: $border-e;
    border-left: 0;
    .livebox-week {
        li {
            @include divBulk(158px,
            40px);
            @include float;
            @include center;
            @include line-height(40px);
            border-bottom: 1px solid #f5f5f5;
            &:hover,
            &.onlive {
                @include line-height(38px);
                border-top: 2px solid #35b558;
                border-bottom: 0;
            }
        }
    }
}

//livebox-lesson
.livebox-lesson {
    position: relative;
    height: 160px;
    overflow: hidden;
}

.livebox-lesson-list {
    width: 100%;
    position: absolute;
    display: none;
    height: 160px;
    overflow: hidden;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.livebox-lesson-list .lesson-item {
    height: 80px;
    border-bottom: 1px solid #f5f5f5;
}

.livebox-lesson-list .lesson-item:nth-child(2) {
    border-bottom: 0;
}

.livebox-lesson-list .lesson-item-left {
    float: left;
    margin: 15px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.livebox-lesson-list .lesson-item-content {
    color: #8c8c8c;
    padding-top: 10px;
    font-size: 12px;
}

.livebox-lesson-list .lesson-item-content h4 {
    font-size: 14px;
    color: #333;
    font-weight: normal;
}

.livebox-lesson-list .lesson-item-left img {
    display: block;
    width: 44px;
    height: 44px;
}

.livebox-lesson-list .lesson-item-content h4 img {
    width: 50px;
    padding-bottom: 2px;
    padding-left: 10px;
}

.livebox-lesson-list .lesson-item-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.livebox-lesson-list .lesson-item-content p i {
    display: inline-block;
    vertical-align: text-top;
    background-size: 100% 100%;
}

.livebox-lesson-list .lesson-item-content p i.icon-clock {
    width: 12px;
    height: 12px;
    margin-left: 15px;
    margin-right: 3px;
    background-image: url('../images/clock.png');
    margin-top: 1px;
}

.livebox-lesson-list .lesson-item-content p i.icon-teacher {
    margin-right: 3px;
    background-image: url('../images/teacher.png');
    width: 13px;
    height: 15px;
}

.livebox-lesson-list .lesson-item-right {
    width: 125px;
    float: right;
    padding-top: 20px;
    text-align: center;
}

.livebox-lesson-list .lesson-item-right span {
    color: #b23b37;
}

.livebox-lesson-list .lesson-item-right .bggreen {
    background-color: #35b558;
}

.livebox-lesson-list .lesson-item-right .livebtn {
    display: block;
    color: #fff;
    width: 67px;
    height: 20px;
    line-height: 20px;
    margin: 8px 29px;
    border-radius: 2px;
}

// hot-lesson
.hot-lesson {
    width: 1000px;
    margin: 20px 0;
}

.hot-lesson ul {
    border-bottom: 1.5px solid #eee;
}

.hot-lesson ul li {
    width: 16.6%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: 10px 0;
    cursor: pointer;
}

.hot-lesson ul li.showlesson {
    border-bottom: 2px solid #35b558;
    background: url('../images/index-sj.png') center bottom no-repeat;
    background-size: 10px 4px;
    color: #35b558;
}

.hot-lesson ul li.on {
    border-bottom: 2px solid #35b558;
    background: url('../images/index-sj.png') center bottom no-repeat;
    background-size: 10px 4px;
    color: #35b558;
}

.hot-lessonbox .one-classfiy-lesson {
    display: none;
}

.hot-lessonbox .one-classfiy-lesson ul li {
    font-size: 12px;
    position: relative;
    margin: 0 15px 20px 0;
    height: 220px;
    width: 233px;
    float: left;
    border: 1px solid #eee;
    border-bottom: none;
}

.hot-lessonbox .one-classfiy-lesson .lessonimg-box img {
    width: 233px;
    height: 129px;
}

.hot-lessonbox .one-classfiy-lesson .lessonimg-box i {
    font-size: 26px;
    position: absolute;
    top: 0;
    display: none;
    cursor: pointer;
}

.hot-lessonbox .one-classfiy-lesson .lessonimg-box .icon-heart {
    left: 8px;
    top: 3px;
    color: #fff;
}

.hot-lessonbox .one-classfiy-lesson .lessonimg-box .iconfree {
    height: 22px;
    width: 38px;
    display: inline-block;
    position: absolute;
    top: -2px;
    right: 8px;
    z-index: 101;
    background: url('../images/icon.png') -58px -43px no-repeat;
}

.hot-lessonbox .lesson-play {
    z-index: 100;
    position: absolute;
    top: 18%;
    left: 40%;
}

.hot-lessonbox .lesson-play .playericon {
    z-index: 120;
    width: 50px;
    height: 50px;
    background: url('../images/player_icon.png') 0 0 no-repeat;
    cursor: pointer;
    background-size: 50px 50px;
}

.lessonimg-box:hover i.playericon,
.lessonimg-box:hover i.icon-heart {
    display: block;
}

.lesson-list li:hover .lesson-info .info-introduce {
    height: auto;
}

.lesson-info .info-introduce {
    position: absolute;
    z-index: 200;
    top: 35px;
    left: 0;
    width: 100%;
    height: 55px;
    background: #fff;
    border: 1px solid #eee;
    border-top: none;
}

.lesson-info {
    position: relative;
    color: gray;
}

.lesson-info h2 {
    font-size: 14px;
    color: #333;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    font-weight: normal;
    margin-left: 5px;
}

.lesson-info p {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0;
    margin-bottom: 10px;
    display: none;
    margin-left: 5px;
}

.lesson-list li:hover .lesson-info p {
    height: 40px;
    display: block;
    opacity: 1;
}

.timeandicon dl dd {
    margin: 5px 0;
}

.lesson-info .timeandicon .mar-b8 i {
    background: url('../images/clock.png') 0 0 no-repeat;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
    margin-left: 5px;
    background-size: 14px 14px;
}

.lesson-info .timeandicon .mar-b8 em {
    float: left;
}

.lesson-info .timeandicon .mar-b8 em.learn-number {
    float: right;
    margin-right: 8px;
}

.lesson-info .timeandicon .middle .xinhao-icon2 {
    background: url('../images/one-ji.png') 0 0 no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
    margin-left: 5px;
}

.lesson-info .timeandicon .middle .lesson-type-icon {
    background: url('../images/less-ps.png') 0 0 no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: block;
    float: right;
    margin-right: 8px;
}

// projectpath
.index-public-title {
    margin-bottom: 16px;
    margin-top: 16px;
}

.index-public-title strong {
    font-size: 18px;
    color: #333;
    float: left;
    font-weight: 500;
}

.index-public-title {
    .way-infor {
        font-size: 12px;
        color: #666;
        padding: 2px 4px;
        border: 1px solid #e4e4e4;
        position: relative;
        @include inline-block;
        box-shadow: 1px 1px 3px #ccc;
        opacity: 0;
        margin-left: -5px;
    }
    .way {
        font-size: 12px;
        @include line-height(13px);
        @include center;
        @include divBulk(13px,
        13px);
        @include float;
        color: $white;
        background: #999;
        border-radius: 50%;
        display: block;
        margin: 5px 8px 0;
        cursor: pointer;
    }
    .more-lesson {
        font-size: 12px;
        color: #2d85ca;
        @include float(right);
        margin-top: 4px;
    }
}

.learn-card {
    font-size: 12px;
    a {
        @include divBulk(198px,
        300px);
        @include float;
        @include center;
        border: 1px solid #E4E4E4;
        display: block;
        border-right: 0;
        overflow: hidden;
        &:nth-child(5),
        &:nth-child(10) {
            border-right: 1px solid #E4E4E4;
        }
        &.no-bordertop {
            border-top: none;
        }
        img {
            @include divBulk(199px,
            120px);
            margin-bottom: 24px;
        }
        h2 {
            font-size: 14px;
            @include line-height(18px);
            color: #333;
            margin-bottom: 20px;
            height: 18px;
            overflow: hidden;
        }
        p {
            @include divBulk(199px,
            20px);
            @include line-height(20px);
            font-size: 12px;
            color: #666;
            overflow: hidden;
        }
    }
}

.greenbtn2 {
    width: 140px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    color: #35b558;
    font-size: 16px;
    font-weight: bold;
    background: #f3fff6;
    border: 1px solid #35b558;
}

.learn-card a:hover {
    border: 1px solid #35b558;
}

.learn-card a:hover .greenbtn2 {
    background: #093;
    color: #fff;
    transition: background .5s ease-in .1s, color .5s ease-in .1s;
    -webkit-transition: background .5s ease-in .1s, color .5s ease-in .1s;
    -moz-transition: background .5s ease-in .1s, color .5s ease-in .1s;
    -ms-transition: background .5s ease-in .1s, color .5s ease-in .1s;
    -o-transition: background .5s ease-in .1s, color .5s ease-in .1s;
}

//system
.system {
    width: 100%;
}

.card-transform {
    width: 165px;
    height: 120px;
    border: 1px solid #E4E4E4;
    border-right: 0;
    border-bottom: 0;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card-transform .front {
    border-bottom: 1px solid #E4E4E4;
    padding: 15px 0;
    z-index: 2;
    background-color: #fff;
}

.card-transform .front img {
    margin-bottom: 5px;
    height: 40px;
    width: 40px;
}

.card-transform .front h2 {
    margin-bottom: 5px;
    font-size: 15px;
    color: #333;
}

.card-transform .front span {
    font-size: 14px;
    color: #35b558;
}

.card-transform .back {
    padding-top: 30px;
    background-color: #f5f5f5;
}

.card-transform .back strong {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    font-weight: 400;
}

.card-transform .back .greenbtn {
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 140px;
    height: 36px;
    cursor: pointer;
    border: none;
    background: #0c6;
    font-weight: bold;
}

.map-box .card-transform:nth-child(6),
.map-box .card-transform:nth-child(12),
.map-box .card-transform:nth-child(18),
.map-box .card-transform:nth-child(24) {
    border-right: 1px solid #E4E4E4;
}

.card-transform .back,
.card-transform .front {
    border-bottom: 1px solid #E4E4E4;
    width: 166px;
    height: 120px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: .6s;
    -moz-backface-visibility: hidden;
    -moz-transition: .6s;
    -ms-backface-visibility: hidden;
    -ms-transition: .6s;
    backface-visibility: hidden;
    transition: .6s;
    position: absolute;
    left: 0;
    top: 0;
}

.card-transform .flipper:hover .front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.border-bott {
    border-bottom: 1px solid #e4e4e4;
}

//end system
//excellent
.excellent {
    width: 1000px;
    box-sizing: border-box;
}

.lesson-card {
    position: relative;
    float: left;
    width: 230px;
    height: 261px;
    padding: 16px;
    border: 1px solid #e4e4e4;
    font-size: 12px;
    -webkit-transition: border-color .3s;
    -moz-transition: border-color .3s;
    transition: border-color .3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 20px;
}

.lesson-card h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.lesson-card .images {
    overflow: hidden;
    margin-bottom: 15px;
}

.lesson-card .images img {
    display: block;
    width: 100%;
    height: 100%;
}

.lesson-card .other {
    position: relative;
    z-index: 20;
    color: gray;
    line-height: 18px;
}

.lesson-card .other .lesson-count {
    margin-right: 5px;
}

.lesson-card .collect {
    float: right;
}

.collect {
    overflow: hidden;
    width: 56px;
    height: 20px;
}

.lesson-card .greenbtn {
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    background: #35b558;
    text-align: center;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.lesson-card .greenbtn:hover {
    background: #66d178;
    color: #fff;
}

.collect .btn {
    display: block;
    width: 100%;
    height: 20px;
    padding: 0;
    line-height: 18px;
}

.lesson-card .btn-def {
    background: #35b558;
    border-color: #35b558;
    color: #fff;
}

.lesson-card .describe {
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    opacity: 0;
    top: 0;
    height: 100%;
    text-align: center;
    visibility: hidden;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.lesson-card .describe .picture {
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.lesson-card .describe img {
    width: 50px;
    height: 50px;
}

.lesson-card .describe .name {
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
}

.lesson-card .describe .text {
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    width: 85%;
    height: 40px;
    padding: 0 16px;
    text-align: left;
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.lesson-card .describe .text a:hover {
    color: #35b558;
}

.lesson-card .describe .btn {
    position: absolute;
    top: 164px;
    left: 50%;
    width: 100px;
    height: 28px;
    margin-left: -50px;
    font-size: 14px;
    line-height: 26px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.lesson-card:hover {
    border: 1px solid #35b558;
}

.lesson-card:hover .describe {
    visibility: inherit;
    opacity: 1;
    -webkit-transition: opacity .5s ease-in .1s;
    -moz-transition: opacity .5s ease-in .1s;
    transition: opacity .5s ease-in .1s;
}

//end excellent
//wiki
.wikibox .one-wiki {
    width: 311.3px;
    height: 370px;
    float: left;
    padding: 10px;
    border: 1px solid #e4e4e4;
}

.wikibox .one-wiki:hover {
    border-color: #35b558;
}

.wikibox .one-wiki h2 {
    font-size: 14px;
    font-weight: 500;
}

.wikibox .one-wiki dl dd .imgbox {
    position: relative;
    width: 142px;
    height: 200px;
    background: #999;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}

.wikibox .one-wiki dl dd .imgbox .look {
    position: absolute;
    width: 40px;
    z-index: 10;
    right: -10px;
    top: -13px;
    background: url('../images/look_d.png') center center no-repeat;
    background-size: 100% 100%;
    height: 20px;
    display: none;
}

.wikibox .one-wiki dl dd:hover .imgbox .look {
    display: block;
}

.wikibox .one-wiki dl dd .imgbox img.fengmian {
    width: 142px;
    height: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    transform-origin: 0 0 0;
    -moz-animation: ffk-animate2 1s ease forwards;
    -webkit-animation: ffk-animate2 1s ease forwards;
    -o-animation: ffk-animate2 1s ease forwards;
    -ms-animation: ffk-animate2 1s ease forwards;
    animation: ffk-animate2 1s ease forwards;
}

.wikibox .one-wiki dl dd {
    text-align: center;
    width: 142px;
    float: left;
}

.wikibox .one-wiki dl dd:nth-child(1) {
    margin-right: 15px;
}

.wikibox .one-wiki .wiki-img {
    margin-top: 10px;
}

.wikibox .one-wiki dl dd h3 {
    font-size: 13px;
    color: #333;
    height: 13px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 13px;
    margin: 10px auto;
}

.wikibox .one-wiki dl dd span {
    font-size: 12px;
    color: #999;
    display: block;
}

.wikibox .one-wiki ul {
    margin-top: 30px;
}

.wikibox .one-wiki ul li {
    font-size: 12px;
    color: #999;
    line-height: 12px;
    margin-bottom: 8px;
    display: block;
}

.wikibox .one-wiki dl dd:hover h3,
.wikibox .one-wiki dl dd:hover span,
.wikibox .one-wiki ul li:hover p,
.wikibox .one-wiki ul li:hover span {
    color: #35b558;
}

.wikibox .one-wiki ul li a {
    color: #999;
}

.wikibox .one-wiki ul li p {
    width: 200px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.wikibox .one-wiki ul li span {
    text-align: right;
    display: block;
    float: right;
    width: 90px;
}

.wikibox .one-wiki dl dd .imgbox:hover {
    transform: rotateY(-30deg);
    box-shadow: 10px 0 2px 0 #666;
    transition: transform 1s ease-in 0.1s, box-shadow .8s ease-in 0.3s;
    -webkit-transition: transform 1s ease-in 0.1s, box-shadow .8s ease-in 0.3s;
    -ms-transition: transform 1s ease-in 0.1s, box-shadow .8s ease-in 0.3s;
    -moz-transition: transform 1s ease-in 0.1s, box-shadow .8s ease-in 0.3s;
}

.wikibox .one-wiki dl dd .imgbox img.fengmian {
    width: 142px;
    height: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}

//end wiki
//enterprise
.enterprise .strategy {
    position: relative;
    width: 1000px;
    height: 88px;
    border: 1px solid #eee;
    overflow: hidden;
}

.enterprise .strategy .strategy-img-wr {
    margin: 0 auto;
    width: 2000%;
    height: 90px;
    position: absolute;
}

.enterprise .strategy .strategy-img-wr li {
    float: left;
    margin: 20px 7px;
    border: 1px solid #eee;
}

.enterprise .strategy .strategy-img-wr li img {
    width: 150px;
    height: 50px;
}

.adjust-order {
    position: absolute;
    top: 15px;
    width: 40px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: rgba(33, 33, 33, .6);
    display: none;
}

.strategy:hover .adjust-order {
    display: block;
    z-index: 200;
}

.adjust-order i {
    color: #fff;
    font-size: 30px;
}

.pre {
    left: 0;
}

.next {
    right: 0;
}

//end enterprise
//university
.university .school {
    position: relative;
    width: 1000px;
    height: 148px;
    border: 1px solid #eee;
    overflow: hidden;
}

.university .school .school-list {
    width: 2000%;
    height: 150px;
    position: absolute;
}

.university .school .school-list li {
    margin: 20px 16px;
    float: left;
}

.university .school .school-list li img {
    width: 110px;
    height: 110px;
}

.university .school:hover .adjust-order {
    display: block;
    z-index: 200;
}

.university .school .adjust-order {
    top: 45px;
}

//end university
//media
.media .media-company {
    position: relative;
    width: 1000px;
    height: 88px;
    border: 1px solid #eee;
    overflow: hidden;
}

.media-company .company-list {
    width: 2000%;
    height: 90px;
    position: absolute;
}

.media-company .company-list li {
    margin: 20px 7px;
    float: left;
    border: 1px solid #eee;
}

.media-company .company-list li img {
    width: 150px;
    height: 50px;
}

.media:hover .adjust-order {
    display: block;
    z-index: 200;
}

//end media
