@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot');
    /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
    content: "\e600";
}

.icon-apple:before {
    content: "\e601";
}

.icon-vipmike:before {
    content: "\e602";
}

.icon-download:before {
    content: "\e603";
}

.icon-tie:before {
    content: "\e604";
}

.icon-arrowtop:before {
    content: "\e605";
}

.icon-game:before {
    content: "\e606";
}

.icon-heart:before {
    content: "\e607";
}

.icon-new:before {
    content: "\e608";
}

.icon-shizhong:before {
    content: "\e609";
}

.icon-arrowleft:before {
    content: "\e60a";
}

.icon-level:before {
    content: "\e60b";
}

.icon-arrow:before {
    content: "\e60c";
}

.icon-user:before {
    content: "\e60d";
}

.icon-vip:before {
    content: "\e60e";
}

.icon-user1:before {
    content: "\e60f";
}

.icon-star:before {
    content: "\e610";
}

.icon-deji:before {
    content: "\e611";
}

.icon-ask:before {
    content: "\e612";
}

.icon-andriod:before {
    content: "\e613";
}

.icon-free:before {
    content: "\e614";
}

.icon-wiki:before {
    content: "\e615";
}

.icon-cloud:before {
    content: "\e616";
}

.icon-free1:before {
    content: "\e617";
}

.icon-message:before {
    content: "\e618";
}

.icon-x2b-topicon-course:before {
    content: "\e619";
}

.icon-download1:before {
    content: "\e61a";
}

.icon-hadoop:before {
    content: "\e61b";
}

.icon-triangle:before {
    content: "\e61c";
}

.icon-book:before {
    content: "\e61d";
}

.icon-vip1:before {
    content: "\e61e";
}

.icon-arrowright:before {
    content: "\e61f";
}
