.hotel{ background:url("hotel.png") top left no-repeat; }
._16sucai_201509041657_-_副本_r9_c13{ width:127px; height:127px; background-position:-10px -10px; }
._16sucai_201509041657_-_副本_r8_c3{ width:127px; height:127px; background-position:-10px -147px; }
._16sucai_201509041657_-_副本_r6_c10{ width:127px; height:127px; background-position:-10px -284px; }
._16sucai_201509041657_-_副本_r6_c4{ width:127px; height:127px; background-position:-10px -421px; }
._16sucai_201509041657_-_副本_r3_c11{ width:127px; height:127px; background-position:-10px -558px; }
._16sucai_201509041657_-_副本_r2_c4{ width:127px; height:127px; background-position:-10px -695px; }
._16sucai_201509041657_-_副本_r9_c8{ width:127px; height:127px; background-position:-10px -832px; }
._16sucai_201509041657_-_副本_r8_c2{ width:127px; height:127px; background-position:-10px -969px; }
._16sucai_201509041657_-_副本_r6_c6{ width:127px; height:127px; background-position:-10px -1106px; }
._16sucai_201509041657_-_副本_r6_c3{ width:127px; height:127px; background-position:-10px -1243px; }
._16sucai_201509041657_-_副本_r3_c7{ width:127px; height:127px; background-position:-10px -1380px; }
._16sucai_201509041657_-_副本_r2_c3{ width:127px; height:127px; background-position:-10px -1517px; }
._16sucai_201509041657_-_副本_r13_c17{ width:53px; height:50px; background-position:-10px -1654px; }
._16sucai_201509041657_-_副本_r13_c2{ width:47px; height:48px; background-position:-73px -1654px; }
._16sucai_201509041657_-_副本_r14_c7{ width:47px; height:47px; background-position:-10px -1714px; }
._16sucai_201509041657_-_副本_r12_c9{ width:45px; height:46px; background-position:-67px -1714px; }

