* {
    padding: 0;
    margin: 0;
}


/*header样式*/

.header {
    height: 200px;
    text-align: center;
    background: #F80909;
}


/*container样式*/

.container-wr {
    width: 80%;
    height: 800px;
    margin: 0 auto;
    _position: relative;/*兼容IE overflow*/
    overflow: hidden;
}


/*抽离样式减少代码量*/

/*.main-wr,
.sup,
.extra {
    float: left;
    _zoom: 1;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
*/

/*main包裹容器*/

.main-wr {
    width: 100%;
    float: left;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}


/*inner内容部分样式*/

.inner {
    position: relative;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    background: #05F6B5;
}


/*侧栏样式*/

.sup {
    width: 200px;
    margin-left: -100%;
    _margin-left: -80%;
    text-align: center;
    background: #2F09F8;
    float: left;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}


/*侧栏样式*/

.extra {
    margin-left: -200px;
    width: 200px;
    text-align: center;
    background: #F8DA09;
    float: left;
    _zoom: 1;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}


/*footer样式*/

.footer {
    height: 200px;
    background: #F409F8;
    text-align: center;
}
