//ie7
$lte7:true !default;
//$width
$w-1000:1000px;
$w-per-100:100%;
$w-50:50px;
//height
$h-50:50px;
//margin
$m-10-auto:10px auto;
$m-0-auto:0 auto;
//border
$border-e:solid 1px #eee;
//color
$white:#fff;
$black:#333;
$gray:#666;
$green: #35b558;
//iconList
$iconList:(wiki, lession, group, download, known, occupation, vip);
$iconListPos:(-5px -31px, -5px -59px, -5px -87px, -5px -117px, -5px -144px, -5px -173px, -5px -202px);
